/*=============
 HEADER SECTION
 ============*/


/*=============
 NAVBAR SECTION
 ============*/


/*=============
 BODY SECTION
 ============*/


body {
	margin: 0;
	background-color: #ffffff;
}

#page-container {
	width:  95%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	/*padding-right: 20px;
	padding-left:  20px;
	background-color: #5d8dc5;
	*/ 

}
	
.post-img{
	width: 80%;
  	height: auto;
}

#left {
	float: left;
	width: 45%;
	background-color: lightgrey;
	/*padding-top: 10px;
	padding-bottom: 10px;
	*/
}

#right {
	float: right;
	width: 45%;
	background-color: lightblue;
	/*padding-top: 10px;
	padding-bottom: 10px;
	*/
}



/*=============
 FOOTER SECTION
 ============*/
hr {
	clear: both;
	background-color: green /*use color picker*/;
	height: 5px;
}

