/*=============
 HEADER SECTION
 ============*/

header {
	text-align: left;
	background-color: #ededed;
	position: relative;
}

#cf-logo {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: -20px;
	/*margin-top: 5px;*/
}

#header-text {
	font-weight: bold;
	margin: 0;
   	position: absolute;       
   	top: 50%;                 
   	transform: translate(0, -50%) 
}

/*=============
 NAVBAR SECTION >> FINISHED    
 ============*/

nav {
	background-color:  #653d3d; /*used colorpicker on assignment image*/
	text-align: left;			/*moves elements of <li> to the left*/
	padding-left: 10px;			/*creates a space of 10px on the left between <nav> border and <li> elements*/
	padding-top: 5px;			/*creates a space of 5px on the top between <nav> border and <li> elements*/
	padding-bottom: 5px;		/*creates a space of 5px on the bottom between <nav> border and <li> elements*/
}

nav li {
	list-style-type: none;		/*removes bullet points of the <li> elements*/
	display: inline;			/*alligns <li> elements in one line instead of one under another (list style)*/
	margin-top: 5px;			/* CHECK again!!! creates a space of 5px on the top between <nav> border and <li> elements*/
	margin-right: 15px;			/*adds space of 15px on the rigr of each <li> element to separate them from each other*/
}

a {
	color: #ffffff;				/*changes color of <a> elements - nav-bar hyperlinks*/
	text-decoration: none;		/*removes underline from <a> elements - nav-bar hyperlinks*/
	font-weight: bold;			/*makes <a> elements - nav-bar hyperlinks bold*/
}

/*=============
 BODY SECTION
 ============*/


body {
	margin: 0;
	background-color: #ffffff;
}

#page-container {
	width:  95%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	/*padding-right: 20px;
	padding-left:  20px;
	*/ 

}
	
.post-img{
	width: 80%;
  	height: auto;
}

#left {
	float: left;
	text-align: left;
	width: 50%;
	background-color: lightgrey;
	/*padding-top: 10px;
	padding-bottom: 10px;
	*/
}

#right {
	float: right;
	text-align: right;
	width: 50%;
	background-color: lightblue;
	/*padding-top: 10px;
	padding-bottom: 10px;
	*/
}


/*=============
 FOOTER SECTION
 ============*/
hr {
	clear: both;
	background-color: green /*use color picker*/;
	height: 5px;
}

