/*=============
 HEADER SECTION >> FINISHED  				
 ============*/

header {
	text-align: left;				/*moves <img> and <span> elements inside header to the left, overrides inherited from #container center allignment*/
	background-color: #ededed;		/*used colorpicker on assignment image*/
	position: relative;				/*makes container <header> relatively positioned, */
}

#cf-logo {
	margin-top: 5px;				/*creates a space of 5px on the top between <header> border and <img> element*/
	margin-bottom: 5px;				/*creates a space of 5px in the bottom between <header> border and <img> element*/
	margin-right: -20px;			/*removes a space of 20px on the right between <img> and <span> to move text closer to logo image*/
	/*margin-top: 5px;*/
}

#header-text {
	font-weight: bold;				/*makes text within <span> element bold*/
	/*margin: 0;*/					/*removed as it does not change anything here*/
   	position: absolute;       		/*make <span> element absolutely positioned within the container <header>*/
   	top: 50%;                 		/*places <span> element at 50% height of the container*/
   	transform: translate(0, -50%) 	/*moves <span> element up by half its own height - without it <span> will be lower than middle*/
}

/*=============
 NAVBAR SECTION >> FINISHED    
 ============*/

nav {
	background-color:  #653d3d; /*used colorpicker on assignment image*/
	text-align: left;			/*moves elements of <li> to the left, overrides inherited from #container center allignment*/
	padding-left: 10px;			/*creates a space of 10px on the left between <nav> border and <li> elements*/
	padding-top: 10px;			/*creates a space of 10px on the top between <nav> border and <li> elements*/
	padding-bottom: 10px;		/*creates a space of 10px in the bottom between <nav> border and <li> elements*/
}

nav li {
	list-style-type: none;		/*removes bullet points of the <li> elements*/
	display: inline;			/*alligns <li> elements in one line instead of one under another (list style)*/
	margin-top: 5px;			/* CHECK again!!! creates a space of 5px on the top between <nav> border and <li> elements*/
	margin-right: 15px;			/*adds space of 15px on the rigr of each <li> element to separate them from each other*/
}

a {
	color: #ffffff;				/*changes color of <a> elements - nav-bar hyperlinks*/
	text-decoration: none;		/*removes underline from <a> elements - nav-bar hyperlinks*/
	font-weight: bold;			/*makes text within <a> element - nav-bar hyperlinks - bold*/
}

/*=============
 BODY SECTION
 ============*/
* {
	font-family: "Arial",sans-serif;
	font-weight: bold;
}

body {
	margin: 0;
	background-color: #ffffff;
}

#page-container {
	width:  90%;
	position: relative;
	margin: 0 auto;
	text-align: center;			/*aligns all element inside container to the center*/
	/*padding-right: 20px;
	padding-left:  20px;
	*/ 
}
	
div h1 {
	font-size: 35pt;				/*sets font size to 4x bigger than current font*/
	margin: 3% 25% 3%;			/*sets margin around the <h1> element to % of the size of the <div container>*/
}

#post-latest {
	background-color: #978484;	/*sets color of <div> background*/
	text-align: left;			/*moves text inside of <div> to the left, overrides inherited center allignment*/
	color: #ffffff;				/*sets color of the text inside <div>*/
	font-weight: bold;			/*makes bold text within <div>*/
	padding-top: 10px;			/*places a space of 10px on the top between <div> border and text inside it*/
	padding-bottom: 10px;		/*places a space of 10px in the bottom between <div> border and text inside it*/
	padding-left: 10px;			/*places a space of 10px on the left between <div> border and text inside it*/
	margin-bottom: 20px;		/*places a space of 20px in the bottom between <div post-latest> border and <div post-block>*/
}

#left {
	float: left;
	text-align: left;
	width: 45%;
	margin-right: 5%;
	/*padding-top: 10px;
	padding-bottom: 10px;
	*/
}

#right {
	float: right;
	text-align: left;
	width: 45%;
	margin-left: 5%;
	/*padding-top: 10px;
	padding-bottom: 10px;
	*/
}

.post{
	margin-bottom: 40px;
}

.post-img{
	width: 100%;
  	height: 200px;
	object-fit: cover;
	/*	
	width: 100%;
  	height: 10%;*/
}

.blog-txt {
	/*background-color: #978484;	sets color of <div> background*/
	/*text-align: left;			moves text inside of <div> to the left, overrides inherited center allignment*/
	/*color: #ffffff;				sets color of the text inside <div>*/
	height: 40px;
	font-weight: bold;			/*makes bold text within <div>*/
	padding-top: 10px;			/*places a space of 10px on the top between <div> border and text inside it*/
	padding-bottom: 10px;		/*places a space of 10px in the bottom between <div> border and text inside it*/
	padding-left: 10px;			/*places a space of 10px on the left between <div> border and text inside it*/
	margin-bottom: 20px;		/*places a space of 20px in the bottom between <div post-latest> border and <div post-block>*/
}


/*.img-container {
	background-color: orange;
	height: 40%
}

.txt-container {
	background-color: green;
	height: 50px;
	position:  relative;
}

.post-img{
	width: 100%;
	object-fit: scale-down;
	/*width: 100%;
  	height: 10%;
}*/

/*=============
 FOOTER SECTION >> FINISHED
 ============*/
hr {
	clear: both;				/*removes float inherited from #left and #right <div> elements*/
	background-color: #978484;	/*changes background color of <hr> element, used coclorpicker on assignment picture*/
	height: 5px;				/*declares height of <hr> element*/
}

#cf-logo-footer {				
	padding-top: 10px;			/*places a space of 10px on the top*/
}

footer p {
	margin-top: 10px;			/*reduces space to 10px on the top between <img> border and <p> border*/
	margin-bottom: 50px;		/*places a space of 50px in the bottom between <page-container> border and <p> border*/
}	
